# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Streamlit
.streamlit/

# Selenium / Chrome
chrome_data/
chromedriver.exe
geckodriver.exe
*.log

# Project Data (Private/Local)
data/
# Keep the directory structure but ignore contents? 
# If you want to commit the folders but not files, add .gitkeep inside them manually.
# For now, ignoring the whole data folder as it contains resumes and scraped json.
debug_xing.py

# OS
.DS_Store
Thumbs.db
